.categories{
 flex: 1;
 padding-top: 2rem;
 text-align: -webkit-left;
background: black;
color: white;

}

.categories h3{
    padding-left: 10px;
    margin-bottom: 0;
    border-bottom: 2px solid white;
}

.categories ul{
    display: inline-grid;
    padding: 0;
}

.categories ul:hover{
  position: fixed;
}

.categories ul a{
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 1.3s ease-in-out;
}

.categories ul a.active {
    color: rgb(0, 0, 0);
    background: rgb(255 255 255 / 86%);
    border: 2px solid rgba(44, 44, 44, 0.341);
    border-radius: 0px 4px 15px 0px;

}

.categories ul a:hover{
    border: 2px solid rgba(44, 44, 44, 0.341);
    border-radius: 0px 4px 15px 0px;
}


.categories-navigation{
    display: flex;
    margin-left: 10px;
}

.categories-navigation a{
    text-decoration: none;
    color: #ffffff;
}