/* Carousel  */

.carousel-container{
    padding-top: 100px;
    overflow: hidden;
    padding-bottom: 50px;
  }

.carousel-container .thumbs-wrapper{
    display: none !important;
}

.carousel-container .carousel-status{
    display: none !important;

}

.carousel-container img{
    overflow: hidden;
    height: 60vh;
}