/* Carousel  */

.carousel-container{
    overflow: hidden;
    padding-bottom: 0px;
  }

.carousel-container .thumbs-wrapper{
    display: none !important;
}

.carousel-container .carousel-status{
    display: none !important;

}

.carousel-container img{
    overflow: hidden;
    height: 80vh;
    object-fit: cover;
}

.carousel.carousel-slider{
    height: 85vh;
}
