.navBar {
  display: flex;
  margin: 0%;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #fac584;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  place-content: center;
  padding-top: 2rem;
}

.imgNavBar {
  width: 250px;
  margin: 5px;
}

.navBarSeccions {
display: flex;
flex-direction: row;

}



@media screen and (max-width: 1000px) {

  .navBar {
    align-items: flex-end;
  }
  .navBarSeccions {
    display: flex;
    flex-direction: column;
  }

}

@media screen and (max-width: 400px) {
  .imgNavBar {
    width: 250px;
  }
}