.products{

}

.products-content{
 display: flex;
}

.products-list-container{
 flex: 3 1;
}

.products-list-container .product-item{
    width: calc(30% - 30px);
}

@media screen and (max-width: 750px) {

    .products-list-container .product-item{
      width: 320px;
    }
    
    .product-item img {
      width: 100%;
      height: 170px;
      border-radius: 6px;
      transition: none;
    }
}