.products{

    background: rgba(0, 0, 0, 0.148);
}

.products-content{
 display: flex;
}

.products-list-container{
 flex: 3 1;
}

.products-list-container .product-item{
    width: calc(30% - 30px);
}