#body-index {
  margin: 0px;
  box-sizing: border-box;
  font-weight: 700;
  font-family: sans-serif;
  font-size: 14px;
  height: 100%;
  background-color: #e5e5e5;
  text-transform: uppercase;
}

.cuerpo {
  text-align: center;

}

.main {
  background-size: contain;
  padding: 0 8% 0 8%;
}

/* --------------------------------------ADMINISTRADOR ------------------ */
.login-form{
  padding: 167px;
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-group{
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.span-passw{
  font-size: xx-small;
  color: darkred;
}
.perfil-usuario{
  padding: 150px;
}

.div-add-edit-prods{
  padding-top: 150px;
}
.div-addProd{
padding-top: 45px;
}
.form-addProd{
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  text-align: justify;
}
.add-prod-btn{
  margin: 20px;
  transition: all .5s;
}
.add-prod-btn:hover{
  background: rgb(148, 126, 0);
  color: white;
}
.thead-table{
  background: rgba(128, 128, 128, 0.553);
}
.td-tbody{
  border: .8px solid black;
  font-family: monospace;
}
.btns-table{
  display: flex;
}

.btn-table-delete{
  margin: 5px;
  background: darkred;
  color: white;
  transition: background .4s ;
}
.btn-table-delete:hover{
  background: rgb(214, 1, 1);
}
.btn-table-edit{
  margin: 5px;
  background: rgba(0, 0, 219, 0.763);
  color: white;
  transition: background .4s ;

}
.btn-table-edit:hover{
  background: darkblue;
}
/* --------------------------------------------------------------- */

/* HEADER Y NAVBAR */

.cart-widget-container{
  display: flex;
  align-items: self-end;
  justify-content: end;
}

.cart-icon{
  width: 30px;
}


.barMovil {
  display: none;
}
.categoriaMovil{
  display: none;
}
.div-buscador-chg-usd{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: nowrap;
  justify-content: space-between;
  justify-content: center;
  padding: 0 .8rem;
}
.buscador-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buscador-title {
  font-weight: 700;
    font-family: sans-serif;
    font-size: 14px;
  font-size: 20px;
  margin-top: 9px;
  margin-bottom: 7px;
  color: rgb(255 159 231);
  transition: 1s;

}

.buscador-title:hover {
  color: rgb(255, 255, 255);
}

.buscador-div input{
 width: 100%;
 height: 25px;
 background: black;
 color: white;
 border: 1px solid white;
 border-radius: 6px;
}

.form-buscador {
  display: flex;  
}

.buscador-btn {
  background: black;
  border-radius: 6px;
  margin-left: 10px;
  transition: all .3s;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
  width: 100px;
 border: 1px solid white;

}

.buscador-btn:hover {
  background: white;
  color: black;
  border: 2px solid #dddbde;
}

/* BODY */
.div-header-dinamic {
  background-color: #dddbde;
  position: relative;
}

/* .cabeza {
  background-image: url(../public/assets/imagenes/rosas-banner-nav.jpg);
  background-size: cover;
} */


.my-title-class {
  font-size: 16px;
  font-weight: 600;
  font-weight: 700;
    font-family: sans-serif;
    font-size: 14px;
}  


.cat-selected {
  font-weight: 700;
    font-family: sans-serif;
    font-size: 14px;
  color: white;
  margin: 1px;
  background: #ffffff1c;
}

.cat-selected-strong{
font-size: x-large;
font-weight: 400;
color: pink;
}

.info-pages{
  font-weight: 700;
    font-family: sans-serif;
    font-size: 14px;
  color: white;
  margin: 1px;
}

.div-info-pages{
 display: flex;
 display: flex;
 justify-content: space-evenly;
}
.btn-prev{
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 700;
  font-family: sans-serif;
  font-size: 14px;
  transition: background .5s ease-in-out;
  background: pink;
  border: 0px transparent solid;
  padding: 4px 12px;
}
.btn-prev:hover{
  background: rgb(243, 79, 106);
  }

.btn-next{
  border-radius: 3px;
  margin-left: 5px;
  font-weight: 700;
    font-family: sans-serif;
    font-size: 14px;
  margin-right: 5px;
  background: pink;
  border: 0px transparent solid;
  padding: 4px 12px;
  transition: background .5s ease-in-out;
}
.btn-next:hover{
background: rgb(240, 148, 163);
}
.seccion {
  display: flex;
  flex-direction: row;
  padding: 0%;
}

.seccionCerrada {
  display: flex;
  flex-direction: row;
  padding: .8rem;
  justify-content: center;
  margin: 0;
  margin-top: 1rem;
}

.seccionLi {
  list-style: none;
  color: white;
  align-self: center;
  padding: 10px;
  font-weight: 700;
  font-family: sans-serif;
  font-size: 12px;
  text-decoration: none;
  transition: all .5s ;
}

.seccionLi:hover {
  background: white;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.seccionLi.active {
  /* color: rgb(117, 0, 133);
  font-size: 120%;
  background: rgb(255, 255, 255);
  border: 2px solid violet;
  border-radius: 5px; */

}




/* CARRITO DE COMPRAS */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.boton-abrircarrito {
  padding: 0px 12px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 5px;
  text-align: center;
  transition: all .3s;
}

.boton-abrircarrito:hover {

}

.boton-abrircarrito:active {

}

.fa-shopping-cart {
  font-size: 120%;
  transition: font-size 0.3s;
}

.fa-shopping-cart:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 150%;
  padding: 3px 20px;
}

.fa-shopping-cart :focus {
  outline: none;
}

.contadorCarrito {
  margin-right: 5%;
}

.contador {
  font-weight: 700;
    font-family: sans-serif;
    font-size: 14px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.btn-eliminarProd {
  background: black;
  border-radius: 6px;
  margin-left: 10px;
  transition: all .3s;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
  width: 100px;
  border: 1px solid white;
  padding: 10px;
}

.btn-eliminarProd:hover {
  color: black;
  background: white;
  border: 1px solid black;
}

.btn-clear {
  background: black;
  border-radius: 6px;
  margin-left: 10px;
  transition: all .3s;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
  width: 100px;
  border: 1px solid white;
  padding: 10px;
  width: initial;
}
.btn-clear:hover {
  color: black;
  background: white;
  border: 1px solid black;
}

.div-prod-all-details{
  display: flex;
  border: #ff4fbca3 solid 1px;
  justify-content: space-around;
  background: #00000040;
  flex-direction: row;
  flex-wrap: nowrap;
}
.div-options-prods{
  margin: 10px;
  border: pink 1px solid;
  background: rgba(255, 192, 203, 0.496);
  border-radius: 3.5px;
  transition: all .2s;
}
.div-options-prods:hover{
  background: rgba(255, 106, 131, 0.398);
}

.add-manual-rose{font-weight: 700;
  font-weight: 700;
    font-family: sans-serif;
    font-size: 14px;
    color: darkred;
    margin: 5px 0px 26px 0px;
}

.div-options-manual-prods{
  margin: 10px;
  border: pink 1px solid;
  background: rgba(255, 192, 203, 0.496);
  border-radius: 3.5px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  transition: background .2s ease-out;
}

.div-options-manual-prods:hover{
  background: rgba(255, 106, 131, 0.398);
}

.div-prod-details{
  display: flex;
  flex-direction: column;
}

.lbl-usd{
  font-weight: 700;
    font-family: sans-serif;
    font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.change-to-dolar{
  display: flex;
  flex-direction: row-reverse;
  padding-right: 35px;
  position: static;
}
.price-usd-idx{
  margin: 0px;
}

.div-manual-add-prod{
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
    font-family: sans-serif;
    font-size: 14px;
  padding: 10px;
  width: 100%;

}

.manual-add-prod{
margin: 1px;
padding: 10px;
transition: all .3s;
}
.manual-add-prod:hover {
  background-color: #ff294c;
  color: white;
  border-radius: 4px;
}

.original-type-prod{
  color: red;
  margin: 1px;
  font-weight: 500;
  padding: 10px;
  border: 0.4px solid red;
  transition: all .3s;
  border-radius: 5px;
  }
.original-type-prod:hover {
    background-color: #ff294da5;
    color: white;
    border-radius: 4px;
  }
  

.strong-prod-details{
  color: #950000;
  
}
.strong-prod-price-details{
  color: #045400;
}
.prod-details {
  border-bottom: 0.2px rgb(117 0 133) solid;
  margin: 1px;
  padding: 10px;
  transition: all .3s;
}

.prod-details:hover {
  border: 0.2px #ff294c solid;
  background-color: #ff294c;
  color: white;
  border-radius: 4px;
}
.prod-details-index{
  border-bottom: 0.2px rgb(117 0 133) solid;
  margin: 1px;
  transition: all .3s;
}
.prod-details-index:hover{
  border: 0.2px #ff294c solid;
  background-color: #ff294c;
  color: white;
  border-radius: 4px;
}


.btn-verMas {
  cursor: pointer;
  font-size: medium;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #ff294c;
  border: 0.5px #890513 solid;
  border-radius: 2.5px;
  transition: all .2s;
}

.btn-verMas:hover {
  background-color: rgb(162, 6, 32);
  color: white;
  border: .5px transparent solid;
}

.totalPrecio {
  background: rgba(255, 255, 255, 0.781);
  border-radius: 5px;
  padding: 1%;
}


.shopCart {
  color: black;
  margin: 0%;
  padding: 1.5px 7.5px;
  font-size: medium
}

.cart {
  display: 'block';
  justify-content: 'center';
  margin-top: '50px';
  background: #e5e5e5;
  border: 0.5px solid black;
  margin-top: 140px;
}

.cartVacio {
  background: rgba(0, 0, 0, 0.22);
  padding: 50px;
  border: 0.2px solid black;
  border-radius: 6px;
  color: black;
}

.cart-home {
  color: black;
  transition: color 1s;
}

.cart-home:hover {
  color: white;
}


/* FIN HEADER Y NAVBAR */

/* PRODUCTOS ---------------------*/


.productos {
  justify-items: center;
  padding-bottom: 50px;
  padding-top: 2rem;
  grid-column-gap: 2.5%;
  grid-row-gap: 50px;
  border-radius: 5px;

}

.listadeproductos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.product-item {
  width: calc(25% - 20px);
  margin-bottom: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: white;
  margin: 10px;
}

.product-item:hover {
  /* box-shadow: 5px -4px 7px 1px rgba(0, 0, 0, 0.47);
  text-decoration: none;
  padding: 5px;
  background: #ff85998a; */
}

.tituloProducto {
  margin: 0.8rem;
  font-size: 12px;
}

.tituloProducto:hover {
  color: rgb(170 3 3);
  transition: all 0.5s;
}

.link-producto {
  text-decoration: none;
  color: #850045;
}

.product-item img {
  width: 100%;
  height: 200px;
  transition: transform 0.5s;
}

.product-item img:hover {

}


.elijaTamaño {
  align-self: center;
  font-size: medium;
  margin: 1%;
}

.prodDetailContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 14px;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#selectId {

}

/* Loader */
.fadeLoader {
  margin-left: 50%;
  margin-right: 50%;
  color: rgb(255, 255, 255);

}

.loadDetailProd {
  color: white;
  font-size: xx-large;
}

.loadProd {
  color: rgb(255, 255, 255);
  align-content: center;
  text-align: center;
}

.loadMP{
  color: black;

  font-weight: 600;
}

.spinner-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* agregar y quitar productos ----------------------*/

.btnAgregarQuitar {
  display: block;
  margin-top: 5px;
}

.button-add {
  background: #ffcbe6;
  padding: 0px 13px 0px 13px;
  font-size: large;
  text-align: center;
  color: black;
  margin-right: 2px;
  margin-bottom: 5px;
  transition: all 0.5s;
  cursor: pointer;
  border: none;
  border-radius: 2px;
}

.button-add:hover {
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  color: white;
  text-decoration: none;
  background-color: #343fdb;
}

.button-quit {
  background: #ffcbe6;
  padding: 0px 13px 0px 13px;
  font-size: large;
  margin-left: 2px;
  margin-bottom: 5px;
  text-align: center;
  color: black;
  transition: all 0.5s;
  cursor: pointer;
  border: none;
  border-radius: 2px;
}

.button-quit:hover {
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: rgba(189, 27, 27, 0.788);
}

.agregarAlCarrito {
  background: black;
  padding: 7px;
  margin-bottom: 10px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  width: fit-content;
  transition: all 0.4s ease-in-out;
  font-weight: 700;
  font-size: 10px;
}

.agregarAlCarrito:hover {
  color: black;
  text-decoration: none;
  background-color: white;
}

/* -----Producto en carrito */
.imgInCart {
  width: 60px;
  border-radius: 5%
}

.table-cart{
  width: 100%;

}
.table-head{
  background: #7e7e7e; 
  padding: 10px;
}


.table-body {
 background: white;
}


.detailsInCart {
  color: rgb(56, 6, 56);
  font-weight: 600;
  padding:20px;
}

/* FIN PRODUCTOS */

/* ADICIONALES */
.aviso-adicional {
}

.aviso-cant-add-adic {
  font-size: smaller;
}
.cant-adic{
  color: #1a0882;
}

.label-adic{
    color: darkred;
}

.titulo-adic {

    transition: all 0.5s;
  }
  
.titulo-adic:hover {
    color: rgb(170 3 3);
  }

.aviso-adicional-agregado {
  color: #ac1060;
  font-size: 90%;
}

.aviso-ad-agr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.div-adicional {
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  background: #f2b3d29c;
  border: 1px solid pink;
  border-radius: 11px;
}

.adicionales {
  background: rgb(244 131 151 / 49%);
  width: 100%;
}

.div-info-adicionales{
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: transparent .5px solid;
  transition: all .5s ease-out;
}
.div-info-adicionales:hover{
  background: #ef6a6a8a;
  border-radius: 8px;
  border: .5px solid pink;
}

.lista-de-adicionales {
  display: flex;
  margin: 50px;
  flex-wrap: wrap;
  justify-content: center;

}

.titulo-adicional {

  margin-top: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.438);
}

.adicionales img {
  width: 130px;
  height: 150px;
  border-radius: 10px;
}

.adic-nombre {
  border-bottom: 0.5px pink solid;
  width: 75%;
  margin-top: 15px;
  margin-bottom: 8px;
}

.lista-adicionales {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-left: 0.5px pink solid;
  border-right: 0.5px pink solid;

}
.div-total-adic{
  text-align: -webkit-center;
}

.total-adic{
  background-color: rgba(233, 27, 62, 0.226);
  padding: 5px;
  width: fit-content;
  border-radius: 8px;
  align-content: center;
  margin-top: 15px;
}

.opt-select-adic{

  margin: 11px 0px 11px 0px;
}

.opt-selected-adic{

  background-color: rgba(228, 12, 12, 0.438);
  color: white;
  border-radius: 8px;
  padding: 5px;
}

/* FIN ADICIONALES */

/* FORMULARIO */
.formulario {
  margin: 20px;
  border-radius: 7px;
  margin-top: 100px;
  text-align: -webkit-center;
}

.formulario input{
    height: 25px;
    background: transparent;
    color: white;
    border: 1px solid black;
    border-radius: 6px;
}

.form-title {
  color: black;
}

.select-directions {
  width: 60%;
}

.localidad-titulo {
  margin-bottom: 1px;
}
.location-name{

  color: rgb(44, 5, 61);
}
.selected-location-info {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.titulo-datosEnvio {
}



.div-dedicatoria {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.btn-dedicatoria {
  background-color: rgb(240, 192, 200);
  border: 1px violet solid;
  margin-top: 5px;
  border-radius: 6px;
  padding: 1%;
  margin-bottom: 15px;
}

.dedicatoria {
  width: 55%;
  height: 80px;
  border-radius: 5px;
  border: violet 2px solid;
}

.datos-comprador {
  width: 100%;

}
.datos-Fecha-Envio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
}
.lbl-fecha-envio{
  font-weight: 600;
  color: #850045;
}
.lbl-horario-envio{
  font-weight: 600;
  color: #850045;
}
.input-fecha-envio{
  margin: 8px;
  width: 100%;

}
.select-horario-envio{
  width: 100%;
}

.input-nombreApellido {
  margin: 8px;
  width: 55%;

}

.input-phone {
  margin: 8px;
  width: 55%;

}

.input-altura {
  margin: 8px;
  width: 55%;
}

.input-piso {
  margin: 8px;
  width: 55%;
}

.input-direccion {
  margin: 8px;
  width: 55%;
}

.input-calle {
  margin: 8px;
  width: 55%;
}

.input-email {
  margin: 8px;
  margin-bottom: 16px;
}

.input-password{
  margin: 8px;
  margin-bottom: 16px;
}


.input-nombreComprador {
  margin: 8px;
  width: 55%;
}

.input-apellidoComprador {
  margin: 8px;
  width: 55%;
}

.input-error {
  border: 2px red solid;
  width: 55%;
  margin-bottom: 5px;

}

.message-error {
  color: red;
  margin: 0%;
}

.dedic-text {
  margin-bottom: 4px;

}

.dedic-save {
  background-color: rgb(253, 221, 221);
  padding: 5%;
  border-radius: 6px;
}

.dedic-titulo {
  margin-top: 5px;
  margin-bottom: 0px;
}

.mercadopago-div {
  background: #ffffff45;
  padding: 10px;
  border: pink solid .5px;
}

.mp-icon {
  width: 20px;

}

.btn-mercadopago {
  margin: 20px;
  background-color: rgb(1 174 231);
  border: 1.4px solid rgb(19 118 177);
  border-radius: 25px;
  transition: background-color .5s;
  padding: 8px 25px;
  margin-top: 0px;
  color: white;
  width: 85%;
  display: flex;
  justify-content: space-between;
}

.btn-mercadopago:hover {
  background-color: rgb(34, 95, 175);
}

.paypal-div {
  background: #ffffff45;
  padding: 10px;
  border: pink solid .5px;
}

.compraFinalizada {
  color: white;
  font-size: x-large;

}

.idCompra {
  color: rgb(255 134 218);
  font-size: xx-large;
  padding-top: 20px;
  box-shadow: 0px 4px 5px 1px #000000db;
  padding-bottom: 52px;
  background: rgb(4 0 0 / 77%);
}

/* FOOTER */

.tarjetaFoot {
  margin-right: 7%;
  width: 17%;
  margin-bottom: 6%;
}

/* ICONOS */
.fcApproval {
  font-size: 20px;
}

/* PAYPAL Y PAGOS */

.alert-finalprice {


}

.tarjetas {

}

.metodo-pago-title {
  margin-bottom: 0px;
  width: 100%;
  background: #fe6a838f;
  padding: 5px 0px;
  color: white;
}

.payments-btn-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  background: #0000004a;
}

.payments-buttons{
  display: flex;
  justify-content: space-evenly;
}
/* VISTA TABLETS Y CELULARES --------------- */

@media screen and (max-width: 1024px) {

  
  .change-to-dolar{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 35px;
position: static;
  }
.categoriaMovil{
  display: block;
}
  .barMovil {
    display: flex;
    margin-bottom: 10px;
    position: fixed;
    top: 50px;
    left: 5px;
    z-index: 1000;
    font-size: 25px;
    color: rgb(85, 13, 85);
    padding: .3%;
    border-radius: 5px;
    box-shadow: 0px 4px 5px 1px rgb(0 0 0 / 36%);
    transition: all .3s;
  }

  .barMovil:active {
    box-shadow: 0 0px rgb(7, 6, 6);
    transform: translateY(2px);
  }

  .listadeproductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catOpen {
    width: 100%;
    margin: 0;
    font-weight: 700;
    padding: 0%;
    border-bottom: 1px solid #5f0094de;
    background: #f20932a8;
    font-size: x-large;
    transition: all 1.5s ease;

  }

  .catClosed {
    width: 100%;
    margin: 0;
    font-weight: 700;
    padding: 0%;
    border-bottom: 1px solid #5f0094de;
    background: #f20932a8;
    font-size: x-large;
    transition: all 1.5s ease;
  }

  .seccion {
    display: flex;
    position: fixed;
    width: 45%;
    left: 0;
    top: 75px;
    flex-direction: column;
    padding: 0%;
    justify-content: center;
    background: #ffc0cbd1;
    transition: all 1.5s ease;
    border-radius: 0px 0px 22px 0px;
  }
  /* .seccion {
    display: flex;
    position: fixed;
    width: 100%;
    left: 0;
    top: 81px;
    flex-direction: column;
    padding: 0%;
    justify-content: center;
    background: #ffc0cbd1;
    transition: all 1.5s ease;

  } */

  .seccionCerrada {

  }

  .seccionLi {
    padding: 0px;
    font-size: 12px;
    text-decoration: none;
    transition: all .3s ease-out;
  }


/* 
  .boton-abrircarrito {
    float: right;
    position: fixed;
    padding: 0px 12px;
    font-size: 20px;
    cursor: pointer;
    right: 65px;
    top: 57px;
    display: flex;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: #ff8fc9;
    border: 0.5px rgb(225 5 255) solid;
    border-radius: 5px;
    box-shadow: 0px 4px 5px 1px #000000ad;
    transition: all .3s;
  } */

  .product-item img {

    transition: none;
  }

  .product-item img:hover {
    transform: none;
  }

  .imgInCart {
    width: 60px;
    border-radius: 5%;
  }

  .btn-eliminarProd {
    font-size: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-eliminarProd {
    font-size: 16px;
  }


  .idCompra {
    font-size: xx-large;
  }

}

@media screen and (max-width: 850px) {

  .div-prod-all-details{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
  }

  .div-header-dinamic {
   
  }
  .listadeproductos {
    grid-template-columns: 30% 30% 30%;

  }

  .lbl-usd{
   font-size: 80%;
  }
  .boton-abrircarrito {
    font-size: 90%;
  }

  .prodInCart {
    font-size: 80%;
  }

  .icon-eliminarProd {
    font-size: 13px;
  }
  
.payments-buttons{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

}

@media screen and (max-width: 615px) {

  .listadeproductos {
    grid-template-columns: 48% 48%;

  }

  .product-item img {
    width: 100%;
    height: 170px;
    border-radius: 6px;
    transition: none;
  }
  
  .detailsInCart {
    font-size: smaller;
  }

  .table-head-tr{
    font-size: x-small;
  }


  .icon-eliminarProd {
    font-size: 10px;
  }

  .idCompra {
    font-size: 100%;
  }

  .prodInCart {
    font-size: 50%;
  }

  .lista-de-adicionales {
    display: flex;
    margin: 0px;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  
  }

  .div-adicional {
width: 140px;
  }

  .adicionales img {
    width: 130px;
    height: 150px;
  }

  .adic-nombre {
    border-bottom: 0.5px solid black;
    width: 75%;
    margin-top: 15px;
    margin-bottom: 8px;
  }

  .lista-adicionales {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;

    border-left: 0.5px black solid;
    border-right: 0.5px black solid;

  }

  .select-directions {
    width: 95%;
  }

  .dedicatoria {
    width: 80%;
    height: 70px;
  }

  .tarjetaFoot {
    margin-right: 7%;
    width: 5%;
  }

}

@media screen and (max-width: 400px) {
  .prodInCart {
    font-size: 50%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}